<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vcc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vcc</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://aranoyuki1.github.io/VCC-for-mac/sparkle/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>DOsNciodUTmm6TgsE6uTJtoYBAZqvCjSzztuz+7I+4w=</string>
</dict>
</plist>
